{% extends "base_generic.html" %}
{% block content %}

<header>
     <h2>Your Profile Picture</h2>
    </header>
    <div class = "row">
        <div class = "col-sm">
    <img src={{request.user.profile.profile_pic}}, height = 400, width = 400, class = "img-thumbnail", class = "rounded circle" >
</div>
    <div class = "col-sm">
     <h2 class ="card-section-header" align = "center" id = "Me">About Me</h2>
     <p class = "text-center" id = "MeTxt"> {{request.user.profile.bio}}</p>
 </div>

 <div class = "col-sm">
        <h2 class = "card-section-header" align = "center" id = "rep"> Your Rep</h2>
        <table class="table table-sm" border = 1 bordercolor = black>
 
    <h5 class = "card-section-header" id= "Avg" align = "center"> Overall Karma: {{request.user.profile.karma}} </h5>

    </div>
    </div>

    <div class = "row">
        <div class = "col-sm">
        <div class="col-xs-12" style="height:50px;"></div>
            <h2 class = "card-section-header" align = "center">Favorite Authors</h2>
    <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.fav_authors}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.fav_authors}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.fav_authors}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.fav_authors}}</a>
</div>

        </div>
        <div class = "col-sm">
                <div class="col-xs-12" style="height:50px;"></div>
            <h2 class = "card-section-header" align = "center">Favorited Course Notes</h2>
            <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.favorites}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.favorites}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.favorites}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.favorites}}</a>
</div>

    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <div class="col-xs-12" style="height:50px;"></div>
            <h2 class = "card-section-header" align = "center">Your Course Schedule</h2>
            <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.course_schedule}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.course_schedule}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.course_schedule}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.course_schedule}}</a>
   <a href="#" class="list-group-item list-group-item-action">{{request.user.profile.course_schedule}}</a>
</div>
</div>
<div class = "col-sm">
        <div class="col-xs-12" style="height:50px;"></div>
            <h2 class = "card-section-header" align = "center">Recently Uploaded Notes</h2>
                        <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">{{profile.uploaded}}</a>
  <a href="#" class="list-group-item list-group-item-action">{{profile.uploaded}}</a>

</div>
</div>

    </body>




</div>
</html>


{% load static %}
<script src="{% static 'note_app/js/note.js' %}"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'note_app/css/note.css' %}">
{% endblock %}