
html, body{
background: white;
}
ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item {
    float: left;
}
/*h1{
  font-size: 2.5rem;
  color: blue;
  font-family: "Snell Roundhand", cursive;
  font-style: italic;


}

#Me{
  font-size: 3.0rem;
  text-decoration: underline;
  font-family: Brush Script MT, Brush Script Std, cursive
  
}

#Rep{
    font-size: 1.5rem;
    color:  #FF7F50;
  font-family: Arial Narrow, sans-serif;
}

#Avg{
  font-weight: bold;
}
.text-left{
  font-size: 1.5rem;
    color:  #FF7F50;
  font-family: Arial Narrow, sans-serif;
}
#rep{
    font-size: 1.5rem;
    color:  #FF7F50;
  font-family: Arial Narrow, sans-serif;
}*/